<form class="form" [formGroup]="addBotForm">
  <mat-form-field appearance="fill">
    <mat-label>Type of Bot</mat-label>
    <mat-select matNativeControl required formControlName="botType">
      <mat-option *ngFor="let bot of data" [value]="bot.id">{{ bot.botType }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>SL Username</mat-label>
    <input matInput name="botName" formControlName="slUsername" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>SL Password</mat-label>
    <input type="password" matInput name="password" formControlName="slPassword" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Login Location</mat-label>
    <input matInput name="loginLocation" formControlName="loginLocation" />
  </mat-form-field>
</form>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="botNameValue">Confirm</button>
</mat-dialog-actions>
