<form class="form" [formGroup]="addBotForm">
  <mat-form-field appearance="fill">
    <mat-label>Type of Bot</mat-label>
    <mat-select matNativeControl required formControlName="botType">
      <mat-option *ngFor="let bot of data" [value]="bot.id">{{ bot.botType }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>SL Username</mat-label>
    <input matInput name="botName" formControlName="slUserName" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>SL Password</mat-label>
    <input type="password" matInput name="password" formControlName="slPassword" required />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Login Location</mat-label>
    <mat-select
      matNativeControl
      required
      [(value)]="selectedSpawnLocation"
      formControlName="loginSpawnLocation"
    >
      <mat-option value="last">Last</mat-option>
      <mat-option value="home">Home</mat-option>
      <mat-option value="region">Region</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="selectedSpawnLocation === 'region'">
    <mat-label>Region/X/Y/Z or URL</mat-label>
    <input matInput name="loginRegion" formControlName="loginRegion" required />
  </mat-form-field>
</form>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="validateForm()">Confirm</button>
</mat-dialog-actions>
