.bot-conf-gear {
  font-size: 120px;
  margin-bottom: 5px;
}
.bot-conf-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 200px;
  flex-direction: column;
  margin-bottom: 20px;
}
.tiles-wrapper {
  display: flex;
}

.startup-icon {
  font-size: 75px;
}
.mat-card {
  display: flex;
  height: 180px;
}
.mat-card-wrapper {
  margin-top: 10px;
  width: 25%;
  box-sizing: border-box;
  padding: 15px;
}
.startup-icon-wrapper {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
