<div class="bot-conf-wrapper">
  <div class="fa-solid fa-user-gear bot-conf-gear"></div>
  <div>
    Currently customizing <b>{{ botData.loginFirstName }}</b>
  </div>
</div>
<hr />
<div class="tiles-wrapper">
  <div class="mat-card-wrapper">
    <mat-card class="mat-card" (click)="startupPopup(botId)">
      <div class="startup-icon-wrapper"><div class="fa-solid fa-rocket startup-icon"></div></div>
      <div class="content-wrapper">
        <mat-card-title>Startup</mat-card-title
        ><mat-card-content
          >what your bot does on startup, such as spawn location, etc.</mat-card-content
        >
      </div>
    </mat-card>
  </div>
  <div class="mat-card-wrapper">
    <mat-card class="mat-card" (click)="botAccessCodePopup(botId)">
      <div class="startup-icon-wrapper"><div class="fa-solid fa-lock startup-icon"></div></div>
      <div class="content-wrapper">
        <mat-card-title>Bot Access Code</mat-card-title
        ><mat-card-content
          >Bot access code is used to control/script your bot using our APIs.</mat-card-content
        >
      </div>
    </mat-card>
  </div>
  <div class="mat-card-wrapper">
    <mat-card class="mat-card" (click)="botAccountSettingsPopup(botId)">
      <div class="startup-icon-wrapper"><div class="fa-solid fa-id-card startup-icon"></div></div>
      <div class="content-wrapper">
        <mat-card-title>Bot Account Settings</mat-card-title
        ><mat-card-content>Update your bot login information.</mat-card-content>
      </div>
    </mat-card>
  </div>
  <div class="mat-card-wrapper">
    <mat-card class="mat-card" (click)="botSettingsPopup(botId)">
      <div class="startup-icon-wrapper"><div class="fa-solid fa-robot startup-icon"></div></div>
      <div class="content-wrapper">
        <mat-card-title>Bot Settings</mat-card-title
        ><mat-card-content
          >Change settings like auto accept group invites or inventory item.</mat-card-content
        >
      </div>
    </mat-card>
  </div>
</div>
