.bot-conf-gear {
  font-size: 120px;
  margin-bottom: 5px;
}
.bot-conf-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 200px;
  flex-direction: column;
  margin-bottom: 20px;
}
.tiles-wrapper {
  display: flex;
}
