<form class="form" [formGroup]="linkAccForm" style="width: 400px">
  <mat-form-field appearance="fill">
    <mat-label> SL Account Username</mat-label>
    <input
      required
      matInput
      name="loginFirstName"
      formControlName="loginFirstName"
      cdkFocusInitial
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>SL Account Password</mat-label>
    <input required matInput name="loginPassword" formControlName="loginPassword"
  /></mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Spawn Location</mat-label>
    <mat-select
      matNativeControl
      required
      [(value)]="selectedSpawnLocation"
      formControlName="loginSpawnLocation"
    >
      <mat-option value="home">Home</mat-option>
      <mat-option value="last">Last</mat-option>
      <mat-option value="region">Region</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" *ngIf="selectedSpawnLocation === 'region'">
    <mat-label>Region Name</mat-label>
    <input required matInput name="regionName" formControlName="loginRegion"
  /></mat-form-field>
  <mat-form-field appearance="fill" *ngIf="selectedSpawnLocation === 'region'">
    <mat-label>X</mat-label>
    <input required matInput name="x" formControlName="loginRegionX"
  /></mat-form-field>
  <mat-form-field appearance="fill" *ngIf="selectedSpawnLocation === 'region'">
    <mat-label>Y</mat-label>
    <input required matInput name="y" formControlName="loginRegionY"
  /></mat-form-field>
  <mat-form-field appearance="fill" *ngIf="selectedSpawnLocation === 'region'">
    <mat-label>Z</mat-label>
    <input required matInput name="z" formControlName="loginRegionZ"
  /></mat-form-field>
</form>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="validateForm()">Confirm</button>
</mat-dialog-actions>
